body {
    background-color: #1e1e1e;
    color: #e7e7e7d1;
    padding: 0;
    margin: 0;
}


/* 
------------
   GLOBAL
------------
*/

p {
    font-size: 1.5rem;
}

hr {
    background-color: #e7e7e7d1;
    margin-inline: 5%;
}

h2 {
    font-size: 3.5rem;
}

main a {
    color: #e7e7e7d1;
    text-decoration: none;
}

main a:hover {
    color: #e7e7e7d1;
    text-decoration: underline;
}

footer {
    background-color: black;
}

table {
    font-size: 1.2rem;
    margin: 0 auto;
}

thead td {
    font-size: larger;
    font-weight: bold;
}

td {
    border: 2px solid #e7e7e7d1;
    padding: 5px;
}


/* 
------------
    NAV
------------
*/

nav {
    padding: 1em;
    margin-bottom: 2em;
}

.nav-item i {
    font-size: 2rem;
}

.nav-item a {
    font-size: 1.2rem;
}

.nav-item {
    margin: 0.3em;
}

nav img {
    height: 27px;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover {
    font-family: 'Comic Sans MS';
    font-size: 2.5rem;
    font-weight: bolder;
    color: #7373d2;
}

.skipNav {
    position: absolute;
    transform: translateY(-150%);
    z-index: 50;
    background-color: #000;
    border-bottom-right-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1%;
}

.skipNav:focus {
    transform: translateY(0);
}


/*
------------
   Styles
------------
*/

/* Intro */
h1 {
    font-size: 5rem;
    font-family: 'Comic Sans MS';
    color: crimson;
    user-select: none;
}

.intro h2 {
    color: orange;
}

.intro {
    animation: slide-right 1s forwards;
    opacity: 0;
    animation-delay: 500ms;
    transform: translateX(-300px);
}

/* Grid styles */
.grid {
    padding: 2em;
    text-align: center;
}

.grid p {
    font-size: 1.2rem;
}

.grid ul {
    margin: 0;
    padding: 0;
}

.grid li {
    list-style-type: none;
    font-size: 1.5rem;
}

.grid h2 {
    font-size: 3rem;
    margin: 0;
}

.projects {
    background-color: #24468E;
}

.music {
    background-color: #475e78;
}

.skills {
    background-color: #28714e;
}

.cubing {
    background-color: #59447b;
}


/* 
------------
 Animations
------------
*/

.grid > section {
    padding: 1em;
    border-radius: 10px;
    margin: 3% 0;
    opacity: 0;
    transform: translateX(-200px);
    filter: blur(1px);
    transition: all 500ms;
}

.grid > section:nth-child(even) {
    transform: translateX(200px);
}

.grid > section.show {
    transform: translateX(0px);
    filter: none;
    opacity: 1;
}

.typewriter {
    font-size: inherit;
    display: none;
}

.blinker {
    width: 7px;
    height: 60px;
    margin-inline: 5px;
    display: inline-block;
    background: white;
    opacity: 75%;
    animation: blink 1.5s infinite step-end;
}


/*
------------
  Desktop
------------
*/

@media only screen and (min-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
    }
    .grid > section {
        margin: 0;
        text-align: left;
    }
    .grid > section:nth-child(even) {
        transform: translateX(-200px);
        transition-delay: 50ms;
    }
    .grid > section.show:nth-child(even) {
        transform: translateX(0px);
    }
}

@media(prefers-reduced-motion) {
    .grid > section {
        transition: none;
    }
}


/*
------------
  Keyframes
------------
*/

@keyframes blink {
    0% {
        opacity: 75%;
    }
    50% {
        opacity: 0;
    }
}

@keyframes slide-right {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}